<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="change-service"/>
  <springProperty scope="context" name="SERVICE_ENV"  source="spring.profiles.active"  defaultValue="local"/>

  <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"${SERVICE_NAME}","env":"${SERVICE_ENV}"}</customFields>
      <includeContext>false</includeContext>
      <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
        <maxDepthPerCause>10</maxDepthPerCause>
        <rootCauseFirst>true</rootCauseFirst>
      </throwableConverter>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%X{correlation_id:-NO_CORR}] [%X{service:-change-service}] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="test">
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.changeops" level="DEBUG"/>
  </springProfile>

  <springProfile name="local &amp; !docker">
      <root level="INFO">
          <appender-ref ref="STDOUT"/>
      </root>
      <logger name="com.changeops" level="DEBUG"/>
  </springProfile>

  <springProfile name="docker">
    <root level="INFO">
      <appender-ref ref="JSON_STDOUT"/>
    </root>
    <logger name="com.changeops" level="DEBUG"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig"  level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig"  level="WARN"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig"  level="WARN"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser"       level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.KafkaProducer"   level="WARN"/>
  </springProfile>

  <springProfile name="prod,staging">
    <root level="INFO">
      <appender-ref ref="JSON_STDOUT"/>
    </root>
    <logger name="com.changeops" level="INFO"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig"  level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig"  level="WARN"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig"  level="WARN"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser"       level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.KafkaProducer"   level="WARN"/>
  </springProfile>

</configuration>